body {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Cutive Mono', monospace;
}

.top-container {
  padding: 140px 0 170px 0;
  background-color: #bedbbb;
  font-size: 100%;
}

.middle-container {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 87.5%;
  line-height: 2;
}

.bottom-container {
  margin: auto;
  padding-top: 50px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  font-size: 75%;
  width: 50%;
}

.intro {
  margin: 21.44px auto;
  width: 50%
}

.job-title {
  margin: 16px auto;
  width: 50%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
}

.profile {
  width: 50%;
  margin: 100px auto 50px auto;
}

.skills {
  width: 50%;
  margin: 50px auto;
}

.contact-me {
  width: 50%;
  margin: 50px auto;
}

.job-title {
  padding-bottom: 50px;
}

.collage1 {
  width: 17%;
}

.avatar {
  width: 20%;
}

.masque-gif {
  width: 20%;
}

.accordion-gif {
  width: 30%;
}

a {
  color: #7a8c78;
}

a:hover {
  color: black;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

hr {
  border: solid 1px #bedbbb;
  width: 25%
}
