body {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Cutive Mono', monospace;
}

.job-title {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
}

.top-container {
  padding: 150px 0;
  background-color: #bedbbb;
}

.middle-container {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 87.5%;
  line-height: 2;
  padding: 0 200px;
}

.bottom-container {
  padding-top: 50px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  font-size: 75%;
}

.job-title {
  padding-bottom: 50px;
}

.avatar {
  margin-top: 50px;
  height: 150px;
}

.masque-gif {
  height: 200px;
}

.accordion-gif {
  height: 200px;
}

.collage1 {
  height: 300px;
  padding-bottom: 28px;
}

a {
  color: #7a8c78;
}

a:hover {
  color: black;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

hr {
  border: solid 1px #bedbbb;
}
